In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import random
import math

##Leyendo el archivo de entrada

In [2]:
dataset="emi2.dat"
df = pd.read_csv(dataset,delimiter=";")
df.head()

   ciudades  cantidad rutas  max peaje  solucion  tiempo  Unnamed: 5
0         5               9          5         0   22979         NaN
1         5               7         10         6   25772         NaN
2         5               1         15  infinito   22979         NaN
3         5               4         20  infinito   36179         NaN
4         5               7         25        11   44699         NaN

In [3]:
tabla_k1 = df[df['max peaje'] == 5]
tabla_k1.head()

     ciudades  cantidad rutas  max peaje  solucion  tiempo  Unnamed: 5
0           5               9          5         0   22979         NaN
99          5               5          5         3   28775         NaN
198         5               2          5  infinito   18369         NaN
297         5               7          5         2   26331         NaN
396         5               5          5         4   18927         NaN

##Comparando con funciones exponenciales

In [4]:
tabla_filtrado_por_E=df[df['cantidad rutas'] == 5]

In [5]:
tabla = df[df['max peaje'] == 5]
info=tabla_filtrado_por_E[['ciudades','tiempo']]
agrupar_por_n = info.groupby(tabla['ciudades']).mean()
agrupar_por_n.head()

          ciudades         tiempo
ciudades
5.0            5.0   27492.526316
10.0          10.0   62893.250000
15.0          15.0  138232.800000
20.0          20.0  191649.000000
30.0          30.0  396117.000000

In [6]:
plt.clf()
info=pd.DataFrame()
info['ciudades']=agrupar_por_n.ciudades.values
info['tiempo']=agrupar_por_n.tiempo.values
#info=agrupar_por_n[['ciudades','tiempos']]
info.plot(x='ciudades')

plt.ylabel('tiempo')
plt.show()

In [6]:
tabla_100= tabla_k1[tabla_k1['ciudades'] <= 150]
caso = tabla_100.filter(['ciudades'], axis=1)
#calculo el promedio evitando el n y el resultado
#se lo inserto a caso con el titulo promedio
caso['tiempos']=tabla_100.tiempo.values
caso['sqrt']=caso.tiempos.apply(math.sqrt)
caso['cubico']=caso.tiempos.apply(lambda x: x)
caso['escala']=caso.ciudades.apply(lambda x: x**3)

#caso['cubico']=caso.promedio.apply(lambda x: x**(1/2))

#agrupo instancias del mismo tamanio y le calculo el promedio
agrupar_por_n = caso.groupby(tabla_100['ciudades']).mean()
caso.head()

     ciudades  tiempos        sqrt  cubico  escala
0           5    22979  151.588258   22979     125
99          5    28775  169.631955   28775     125
198         5    18369  135.532284   18369     125
297         5    26331  162.268296   26331     125
396         5    18927  137.575434   18927     125

In [7]:
agrupar_por_n.head()
sns.factorplot(x='cubico', y='tiempos', data=agrupar_por_n)
plt.show()

In [8]:
tabla_nueva=pd.DataFrame()
df['producto']=df['ciudades']*df['cantidad rutas']*df['max peaje'].apply(math.log)
restringido=df[df['max peaje'] == 20]
restringido=df
df.head()

,ciudades,cantidad rutas,max peaje,solucion,tiempo,Unnamed: 5,producto
0,5,9,5,0,22979,NaN,72.424706
1,5,7,10,6,25772,NaN,80.590478
2,5,1,15,infinito,22979,NaN,13.540251
3,5,4,20,infinito,36179,NaN,59.914645
4,5,7,25,11,44699,NaN,112.660654

In [ ]:
df3 = pd.DataFrame()
nodos=restringido['producto']
max_peaje=restringido['max peaje']
cant_rutas=restringido['cantidad rutas']
df3['Nodos'] = nodos
df3['Tiempos'] = restringido['tiempo']
df3['Complejidad n*m*log(c)'] = [100 + random.normalvariate(n*m*math.log(c),50) for n in nodos for m in cant_rutas for c in max_peaje]
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n*m*log(c)'], df3['Tiempos'], kind="reg")
sns.plt.show
plt.show()