In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import random
import math

##Leyendo el archivo de entrada

In [2]:
dataset="emi2.dat"
gral = pd.read_csv(dataset,delimiter=";")
dataset2="amy.dat"
caso = pd.read_csv(dataset2,delimiter=";")
caso.head()

   ciudades  cantidad rutas  max peaje  solucion  tiempo  Unnamed: 5
0        10               1          5  infinito   44560         NaN
1        10               1         10  infinito   55596         NaN
2        10               1         15  infinito   60904         NaN
3        10               1         20  infinito   63837         NaN
4        10               1         25  infinito   60833         NaN

Ejemplo de Filtro

In [3]:
tabla_k1 = gral[gral['max peaje'] == 5]
tabla_k1.head()

     ciudades  cantidad rutas  max peaje  solucion  tiempo  Unnamed: 5
0           5               9          5         0   22979         NaN
99          5               5          5         3   28775         NaN
198         5               2          5  infinito   18369         NaN
297         5               7          5         2   26331         NaN
396         5               5          5         4   18927         NaN

##Comparando con funciones exponenciales

In [5]:
gral['producto']=gral['ciudades']*gral['cantidad rutas']*gral['max peaje'].apply(math.log)
gral.head()

,ciudades,cantidad rutas,max peaje,solucion,tiempo,Unnamed: 5,producto
0,5,9,5,0,22979,NaN,72.424706
1,5,7,10,6,25772,NaN,80.590478
2,5,1,15,infinito,22979,NaN,13.540251
3,5,4,20,infinito,36179,NaN,59.914645
4,5,7,25,11,44699,NaN,112.660654

In [ ]:
df3 = pd.DataFrame()
nodos=gral['ciudades']
max_peaje=gral['max peaje']
cant_rutas=gral['cantidad rutas']
df3['Nodos'] = nodos
df3['Tiempos'] = gral['tiempo']
df3['Complejidad n*m*log(c)'] = [100 + random.normalvariate(n*m*math.log(c),50) for n in nodos for m in cant_rutas for c in max_peaje]
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n*m*log(c)'], df3['Tiempos'], kind="reg")
sns.plt.show
plt.show()