In [90]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import random
import math

##Leyendo el archivo de entrada

In [29]:
dataset="corrida1.dat"
df = pd.read_csv(dataset,delimiter=";")
df.head()

   ciudades  k  resultado  tiempo  Unnamed: 4
0         5  0         77   21582         NaN
1         5  1         40   36529         NaN
2         5  2         62   50637         NaN
3         5  3         -1   49798         NaN
4         5  4        185   79901         NaN

In [30]:
tabla_k1 = df[df['k'] == 1]
tabla_k1.head()

    ciudades  k  resultado  tiempo  Unnamed: 4
1          5  1         40   36529         NaN
6          5  1         18   44002         NaN
11         5  1          0   43373         NaN
16         5  1          0   47703         NaN
21         5  1        214   26960         NaN

In [31]:
tabla_k2 = df[df['k'] == 2]
tabla_k2.head()

    ciudades  k  resultado  tiempo  Unnamed: 4
2          5  2         62   50637         NaN
7          5  2          0   69774         NaN
12         5  2         -1   42046         NaN
17         5  2         83   48122         NaN
22         5  2        181   48123         NaN

##Comparando con funciones exponenciales

In [32]:
tabla_k3 = df[df['k'] == 3]
tabla_k3.head()

    ciudades  k  resultado  tiempo  Unnamed: 4
3          5  3         -1   49798         NaN
8          5  3          0   66142         NaN
13         5  3          0   98828         NaN
18         5  3         41   99179         NaN
23         5  3         50   83812         NaN

In [33]:
tabla_k4 = df[df['k'] == 4]
tabla_k4.head()

    ciudades  k  resultado  tiempo  Unnamed: 4
4          5  4        185   79901         NaN
9          5  4          0   69564         NaN
14         5  4         92  108188         NaN
19         5  4        103  103509         NaN
24         5  4         85   76549         NaN

In [34]:
tabla_k5 = df[df['k'] == 5]
tabla_k5.head()

      ciudades  k   resultado  tiempo  Unnamed: 4
1005        10  5         547  542616         NaN
1015        10  5         335  446512         NaN
1025        10  5           0  625591         NaN
1035        10  5         790  386376         NaN
1045        10  5 -2147483162  522431         NaN

In [82]:
tabla_k10 = df[df['k'] == 10]
tabla_k10.head()

      ciudades   k   resultado   tiempo  Unnamed: 4
3010        15  10        1899  3117408         NaN
3025        15  10         800  3373944         NaN
3040        15  10 -2147482263  3030103         NaN
3055        15  10        2050  2514166         NaN
3070        15  10         792  3406002         NaN

In [83]:
tabla_100= tabla_k1[tabla_k1['ciudades'] <= 150]
caso = tabla_100.filter(['ciudades'], axis=1)
#calculo el promedio evitando el n y el resultado
#se lo inserto a caso con el titulo promedio
caso['tiempos']=tabla_100.tiempo.values
caso['sqrt']=caso.tiempos.apply(math.sqrt)
caso['cubico']=caso.tiempos.apply(lambda x: x)
caso['escala']=caso.ciudades.apply(lambda x: x**3)

#caso['cubico']=caso.promedio.apply(lambda x: x**(1/2))

#agrupo instancias del mismo tamanio y le calculo el promedio
agrupar_por_n = caso.groupby(tabla_100['ciudades']).mean()
caso.head()

    ciudades  tiempos        sqrt  cubico  escala
1          5    36529  191.125613   36529     125
6          5    44002  209.766537   44002     125
11         5    43373  208.261854   43373     125
16         5    47703  218.410165   47703     125
21         5    26960  164.195006   26960     125

In [84]:
agrupar_por_n.head()
sns.factorplot(x='escala', y='cubico', data=agrupar_por_n)
plt.show()

In [86]:
tabla_nueva=pd.DataFrame()
df['producto']=df.ciudades.values*df.k.values
df.head()

   ciudades  k  resultado  tiempo  Unnamed: 4  producto
0         5  0         77   21582         NaN         0
1         5  1         40   36529         NaN         5
2         5  2         62   50637         NaN        10
3         5  3         -1   49798         NaN        15
4         5  4        185   79901         NaN        20

In [92]:
df3 = pd.DataFrame()
nodos=df.producto
df3['Nodos'] = nodos
df3['Tiempos'] = df['tiempo']
df3['Complejidad (n*k)^2'] = [100 + random.normalvariate(n**2,50) for n in nodos]
df3['Complejidad n^3'] = [100 + random.normalvariate(n**3,50) for n in nodos]
df3['Complejidad n^4'] = [100 + random.normalvariate(n**4,50) for n in nodos]
df3['Complejidad n^5'] = [100 + random.normalvariate(n**5,50) for n in nodos]
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad (n*k)^2'], df3['Tiempos'], kind="reg")
sns.plt.show()
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n^3'], df3['Tiempos'], kind="reg")
sns.plt.show()
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n^4'], df3['Tiempos'], kind="reg")
sns.plt.show()
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n^5'], df3['Tiempos'], kind="reg")
sns.plt.show

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:8: RuntimeWarning: overflow encountered in long_scalars

In [94]:
df3 = pd.DataFrame()
nodos=tabla_k10.ciudades
df3['Nodos'] = nodos
df3['Tiempos'] = tabla_k10['tiempo']
df3['Complejidad n^2'] = [100 + random.normalvariate(n**2,50) for n in nodos]
df3['Complejidad n^3'] = [100 + random.normalvariate(n**3,50) for n in nodos]
df3['Complejidad n^4'] = [100 + random.normalvariate(n**4,50) for n in nodos]
df3['Complejidad n^5'] = [100 + random.normalvariate(n**5,50) for n in nodos]
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n^2'], df3['Tiempos'], kind="reg")
sns.plt.show()
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n^3'], df3['Tiempos'], kind="reg")
sns.plt.show()
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n^4'], df3['Tiempos'], kind="reg")
sns.plt.show()
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n^5'], df3['Tiempos'], kind="reg")
sns.plt.show

In [121]:
agrupar_por_n = pd.DataFrame()
agrupar_por_n = df[['producto','tiempo']].groupby(df['producto']).mean()
agrupar_por_n['sqrt']=agrupar_por_n.tiempo.apply(math.sqrt)
agrupar_por_n.head(50)
sns.factorplot(x='producto', y='sqrt', data=agrupar_por_n)
plt.show()

In [123]:
tabla_n100=df[df['ciudades'] == 50]
df3 = pd.DataFrame()
nodos=tabla_n100.ciudades
df3['Nodos'] = nodos
df3['Tiempos'] = tabla_n100['tiempo']
df3['Complejidad n^2'] = [100 + random.normalvariate(n**2,50) for n in nodos]
df3['Complejidad n^3'] = [100 + random.normalvariate(n**3,50) for n in nodos]
df3['Complejidad n^4'] = [100 + random.normalvariate(n**4,50) for n in nodos]
df3['Complejidad n^5'] = [100 + random.normalvariate(n**5,50) for n in nodos]
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n^2'], df3['Tiempos'], kind="reg")
sns.plt.show()
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n^3'], df3['Tiempos'], kind="reg")
sns.plt.show()
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n^4'], df3['Tiempos'], kind="reg")
sns.plt.show()
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad n^5'], df3['Tiempos'], kind="reg")
sns.plt.show