In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import random
import math

##Leyendo el archivo de entrada

In [11]:
dataset1="corrida1.dat"
gral = pd.read_csv(dataset1,delimiter=";")
dataset2="kcte.dat"
kcte = pd.read_csv(dataset2,delimiter=";")
dataset3="ncte.dat"
ncte = pd.read_csv(dataset3,delimiter=";")
ncte.head()

   ciudades  k  resultado  tiempo  Unnamed: 4
0         5  5          0  127953         NaN
1         5  5          0  117825         NaN
2         5  5          0  174399         NaN
3         5  5         43  161407         NaN
4         5  5         28  172723         NaN

Filtrado

In [12]:
tabla_k1 = gral[gral['k'] == 1]
tabla_k1.head()

    ciudades  k  resultado  tiempo  Unnamed: 4
1          5  1         40   36529         NaN
6          5  1         18   44002         NaN
11         5  1          0   43373         NaN
16         5  1          0   47703         NaN
21         5  1        214   26960         NaN

Calculo el producto, para mostrar (n*k)**2

In [14]:
gral['producto']=gral['ciudades']*gral['k']
df3 = pd.DataFrame()
nodos=gral['producto']
df3['Nodos'] = nodos
df3['Tiempos'] = gral['tiempo']
df3['Complejidad (n*k)^2'] = [100 + random.normalvariate(n**2,50) for n in nodos]
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad (n*k)^2'], df3['Tiempos'], kind="reg")
sns.plt.show()

Calculo pearson para un n fijo

In [15]:
ncte['producto']=ncte['ciudades']*ncte['k']
df3 = pd.DataFrame()
nodos=ncte['producto']
df3['Nodos'] = nodos
df3['Tiempos'] = ncte['tiempo']
df3['Complejidad (n*k)^2'] = [100 + random.normalvariate(n**2,50) for n in nodos]
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad (n*k)^2'], df3['Tiempos'], kind="reg")
sns.plt.show()

Calculo pearson para un k fijo

In [18]:
kfijo=kcte[kcte['k']==5]
kcte['producto']=kcte['ciudades']
df3 = pd.DataFrame()
nodos=kcte['producto']
df3['Nodos'] = nodos
df3['Tiempos'] = kcte['tiempo']
df3['Complejidad (n*k)^2'] = [100 + random.normalvariate(n**2,50) for n in nodos]
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad (n*k)^2'], df3['Tiempos'], kind="reg")
sns.plt.show()

Lineas de nivel

In [28]:
caso = gral.filter(['ciudades'], axis=1)
#calculo el promedio evitando el n y el resultado
#se lo inserto a caso con el titulo promedio
caso['tiempo']=gral['tiempo']
caso['sqrt']=gral['tiempo'].apply(math.sqrt)
#agrupo instancias del mismo tamanio y le calculo el promedio
agrupar_por_n = caso.groupby(caso['ciudades']).mean()
agrupar_por_n.head()

          ciudades        tiempo         sqrt
ciudades
5              5.0  5.989162e+04   232.882178
10            10.0  5.102018e+05   657.627633
15            15.0  2.006264e+06  1286.038062
20            20.0  5.333600e+06  2085.573666
25            25.0  1.178370e+07  3086.990473

In [37]:
agrupar_por_n = pd.DataFrame()
agrupar_por_n = gral[['producto','tiempo']].groupby(gral['producto']).mean()
agrupar_por_n['sqrt']=agrupar_por_n.tiempo.apply(math.sqrt)
ax=agrupar_por_n.plot(x='producto', y='sqrt')
ax.set_xlabel("ciudades * k",fontsize=12)
ax.set_ylabel("Tiempos en ns",fontsize=12)
plt.show()