In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import random
import math

##Leyendo el archivo de entrada

In [4]:
dataset="Prueba"
df = pd.read_csv(dataset,delimiter=";")
df.head()

,ciudades,tiempo,costo,tamanio solucion,solucion,Unnamed: 5
0,5,12451,13,4,"(1,3) (2,3) (1,4) (0,2)",NaN
1,5,9116,3087,4,"(0,4) (1,3) (1,4) (2,3)",NaN
2,5,9027,2536,4,"(1,3) (0,2) (2,4) (0,3)",NaN
3,5,21692,1494,4,"(0,4) (3,4) (1,4) (1,2)",NaN
4,5,16948,2392,4,"(0,4) (3,4) (2,4) (1,3)",NaN

##Comparando con funciones exponenciales

In [26]:
data=df[df['ciudades'] > 200]
df3 = pd.DataFrame()
nodos=data.ciudades
df3['Nodos'] = nodos
df3['Tiempos'] = data['tiempo']
df3['Complejidad (n^2*log(n))'] = [100+random.normalvariate((n**2),50) for n in nodos]
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad (n^2*log(n))'], df3['Tiempos'], kind="reg")
sns.plt.show()

In [15]:
agrupar_por_n = pd.DataFrame()
agrupar_por_n = df[['ciudades','tiempo']].groupby(df['ciudades']).mean()
agrupar_por_n.head()

          ciudades        tiempo
ciudades
5              5.0   15946.18100
10            10.0   41199.36450
15            15.0   83294.22700
20            20.0  146276.57625
25            25.0  227159.99400

In [21]:

agrupar_por_n['sqrt']=agrupar_por_n.tiempo.apply(math.sqrt)
agrupar_por_n['complejidad']=agrupar_por_n.ciudades.apply(lambda x:((x**2)))
agrupar_por_n.head(50)
sns.factorplot(x='complejidad', y='tiempo', data=agrupar_por_n)
plt.show()
agrupar_por_n[['complejidad','tiempo']].head(25)

          complejidad        tiempo
ciudades
5                25.0  1.594618e+04
10              100.0  4.119936e+04
15              225.0  8.329423e+04
20              400.0  1.462766e+05
25              625.0  2.271600e+05
30              900.0  3.331914e+05
35             1225.0  4.526736e+05
40             1600.0  5.930742e+05
45             2025.0  7.625823e+05
50             2500.0  9.383346e+05
100           10000.0  4.095992e+06
200           40000.0  8.191969e+06
300           90000.0  1.892049e+07
400          160000.0  3.487181e+07