In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import random
import math

##Leyendo el archivo de entrada

In [6]:
dataset="Prueba3"
df = pd.read_csv(dataset,delimiter=";")
df.head()

,ciudades,tiempo,costo,tamanio solucion,solucion,Unnamed: 5
0,5,10254,3,4,"(0,1) (0,4) (2,4) (1,3)",NaN
1,5,17350,16,4,"(1,3) (2,3) (2,4) (0,3)",NaN
2,5,16417,14,4,"(0,4) (2,3) (0,3) (1,2)",NaN
3,5,13751,3,4,"(0,1) (2,3) (1,3) (2,4)",NaN
4,5,12726,36,4,"(2,4) (1,3) (0,3) (1,2)",NaN

##Comparando con funciones exponenciales

In [9]:
data=df[df['ciudades'] < 500]
df3 = pd.DataFrame()
nodos=data.ciudades
df3['Nodos'] = nodos
df3['Tiempos'] = data['tiempo']
df3['Complejidad (n^2*log(n))'] = [100+random.normalvariate((n**2),50) for n in nodos]
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad (n^2*log(n))'], df3['Tiempos'], kind="reg")
sns.plt.show()

In [5]:
agrupar_por_n = pd.DataFrame()
agrupar_por_n = df[['ciudades','tiempo']].groupby(df['ciudades']).mean()
agrupar_por_n.head()

          ciudades      tiempo
ciudades
5              5.0   14705.650
10            10.0   41381.770
15            15.0   83365.150
20            20.0  148783.890
25            25.0  229592.875

In [10]:

agrupar_por_n['sqrt']=agrupar_por_n.tiempo.apply(math.sqrt)
agrupar_por_n['complejidad']=agrupar_por_n.ciudades.apply(lambda x:((x**2)))
agrupar_por_n.head()
sns.factorplot(x='complejidad', y='tiempo', data=agrupar_por_n)
plt.show()
agrupar_por_n[['ciudades','tiempo']].head(25)

          ciudades       tiempo
ciudades
5              5.0    14705.650
10            10.0    41381.770
15            15.0    83365.150
20            20.0   148783.890
25            25.0   229592.875
30            30.0   350573.755
35            35.0   472673.470
40            40.0   629375.715
45            45.0   837256.485
50            50.0   981669.130
55            55.0  1228877.230
60            60.0  1471128.740
65            65.0  1751595.470
70            70.0  2111465.820
75            75.0  2517271.990
80            80.0  2934292.810
85            85.0  3193312.755
90            90.0  3684246.520
95            95.0  4037180.900
100          100.0  4561174.080
105          105.0  4910601.715
110          110.0  5169889.255
115          115.0  5497716.335
120          120.0  6012561.010
125          125.0  6722368.615