In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import random
import math

##Leyendo el archivo de entrada

In [3]:
dataset="emi3.dat"
ejercicio3 = pd.read_csv(dataset,delimiter=";")
ejercicio3.head()

,ciudades,tiempo,costo,tamanio solucion,solucion,Unnamed: 5
0,5,13620,9,4,"(1,3) (1,2) (0,3) (2,4)",NaN
1,5,12922,31,3,"(0,2) (1,4) (0,4)",NaN
2,5,13411,10,4,"(0,3) (2,4) (1,4) (1,3)",NaN
3,5,12852,18,4,"(0,2) (3,4) (0,4) (1,3)",NaN
4,5,13551,12,4,"(0,3) (0,1) (2,4) (3,4)",NaN

##Comparando con funciones exponenciales

In [4]:
data=ejercicio3
df3 = pd.DataFrame()
nodos=data.ciudades
df3['Nodos'] = nodos
df3['Tiempos'] = data['tiempo']
df3['Complejidad (n^2*log(n))'] = [100+random.normalvariate((n**2)*math.log(n),50) for n in nodos]
#plt.clf()
correlation = df3.corr()
sns.jointplot(df3['Complejidad (n^2*log(n))'], df3['Tiempos'], kind="reg")
sns.plt.show()

In [7]:
agrupar_por_n = pd.DataFrame()
agrupar_por_n = ejercicio3[['ciudades','tiempo']].groupby(ejercicio3['ciudades']).mean()
agrupar_por_n.head()

          ciudades      tiempo
ciudades
5              5.0   14705.650
10            10.0   41381.770
15            15.0   83365.150
20            20.0  148783.890
25            25.0  229592.875

In [11]:
agrupar_por_n['sqrt']=agrupar_por_n.tiempo.apply(math.sqrt)
agrupar_por_n['complejidad']=agrupar_por_n.ciudades.apply(lambda x:((x**2)*math.log(x)))
agrupar_por_n.head()
ax=agrupar_por_n.plot(x='complejidad', y='tiempo')
ax.set_xlabel("ciudades",fontsize=12)
ax.set_ylabel("Tiempos en ns",fontsize=12)
plt.show()